* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid #fff;
    padding: 10px 5px;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -------------Nav Amazon icon------------ */
.nav-logo {
    height: 50px;
    width: 135px;
}

.logo {
    background-image: url(img/Amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

/* -------------- Nav Address and location ------------ */



.add-first {
    color: #cccccc;
    font-size: 0.5rem;
    margin-left: 22px;
}

.add-second {
    color: #fff;
    font-size: 1rem;
}

.add-icon {
    display: flex;
    align-items: center;
}

.add-icon i {
    margin: 0px 2px 0px 8px;
}

/* ------------Nav Search---------------- */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    margin-left: 8px;
    background: rgb(183, 183, 87);
    width: 750px;
    height: 40px;
    border-radius: 5px;
}

.search-select {
    background-color: #f3f3f3;
    border: none;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}


.search-icon {
    width: 45px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* --------------Log-in styling ---------- */

.sign-mag1 {
    font-size: 0.7rem;
}

.sign-msg2 {
    font-size: 0.9rem;
    font-weight: 700;
}

/* ---------Return & Order---------- */

.return-msg {
    font-size: 0.7rem;
}

.order-msg {
    font-size: 0.9rem;
    font-weight: 700;
}

/* ------------- Cart Styling ------ */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.9rem;
    font-weight: 700;
}


/* ---------- Panel styling ----- */

.panel {
    height: 40px;
    background-color: #222f3d;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.panel-all {
    font-size: 1.5rem;
}

.panel-option p {
    display: inline;
    margin-left: 20px;
}

.panel-option {
    width: 80%;
    font-size: 0.9rem;
}

.panel-electronics {
    font-size: 0.95;
    font-weight: 700;
}


/* ---------Hero Section ------- */

.hero-section {
    background-image: url(https://m.media-amazon.com/images/I/71U-Q+N7PXL._SX3000_.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
}


.hero-msg {
    background-color: #fff;
    color: #000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-top: 280px;
}

.hero-msg a {
    color: #007185;
    cursor: pointer;
}

.hero-msg a:hover {
    color: red;
}


/* ---------------- shop section -------- */
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding: 1rem 0rem;
}

.shop-section h2 {
    display: flex;
    justify-content: center;
}

.box {
    height: 500px;
    width: 22%;
    background-color: #fff;
    padding: 15px 10px 15px 10px;
}

.box-img {
    height: 80%;
}

.box-img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.shop-section a {
    display: block;
    padding-top: 35px;
    color: #007185;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

.shop-section a:hover {
    color: red;
}

/* ----------footer styling -------- */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.foot-panel1 a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.foot-panel2 {
    background-color: #222f3d;
    color: #fff;
    height: 380px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 30px;
}

.foot-panel2 ul a {
    display: block;
    color: #dddddd;
    font-size: 0.8rem;
    margin-top: 10px;
    text-decoration: none;
}

.foot-panel3 {
    background-color: #222f3d;
    border-top: 0.5px solid #fff;
    color: #fff;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-logo {
    background-image: url(img/Amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 130px;
}

.language {
    border: 1px solid #ffffff9c;
    padding: 5px 20px;
}

.language i {
    font-size: 1.3rem;
    padding-right: 5px;
}

.country {
    border: 1px solid #ffffff9c;
    padding: 5px 20px;
}

.country img {
    width: 20px;
    height: 15px;
}

.copy-right {
    background-color: #222f3d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}






/* ------------------Media quries---- */
@media(min-width: 360px) and (max-width: 412px) {
    html {
        font-size: 40%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav-logo {
        display: none;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 40%;
        height: 20px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 10px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 25px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 60%;
        font-size: 0.9rem;
    }

    .panel-electronics {
        font-size: 1.3rem;
        font-weight: 400;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        background-size: cover;
        height: 180px;
    }


    .hero-msg {
        height: 20px;
        width: 90%;
        font-size: 0.9rem;
        margin-top: 130px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 0.9rem;
        height: 13px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 100px;
        width: 95%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 1rem;
        padding: 0px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 18px;
    }

    .foot-panel1 a {
        font-size: 1.5rem;
    }

    .foot-panel2 {
        height: 180px;
    }

    .foot-panel2 ul {
        margin-top: 10px;
    }

    .foot-panel2 ul p {
        font-size: 1.1rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 0.8rem;
        margin-top: 10px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 30px;
        padding-top: 10px;
    }

    .foot-logo {
        height: 30px;
        width: 80px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1.5rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.8rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.5rem;
        border-radius: 10px;
    }

    .country img {
        width: 15px;
        height: 10px;
        padding-right: 3px;
    }

    .copy-right {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }

}

@media(min-width: 412px) and (max-width: 500px) {
    html {
        font-size: 50%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav-logo {
        display: none;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 40%;
        height: 23px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 10px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 25px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 60%;
        font-size: 0.9rem;
    }

    .panel-electronics {
        font-size: 1.3rem;
        font-weight: 400;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        background-size: cover;
        height: 180px;
    }


    .hero-msg {
        height: 20px;
        width: 90%;
        font-size: 0.9rem;
        margin-top: 130px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 0.9rem;
        height: 13px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 100px;
        width: 95%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 1rem;
        padding: 0px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 18px;
    }

    .foot-panel1 a {
        font-size: 1.5rem;
    }

    .foot-panel2 {
        height: 180px;
    }

    .foot-panel2 ul {
        margin-top: 10px;
    }

    .foot-panel2 ul p {
        font-size: 1.1rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 0.8rem;
        margin-top: 10px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 30px;
        padding-top: 10px;
    }

    .foot-logo {
        height: 30px;
        width: 80px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1.3rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.8rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.3rem;
        border-radius: 10px;
    }

    .country img {
        width: 15px;
        height: 10px;
        padding-right: 3px;
    }

    .copy-right {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }

}


@media(min-width: 500px) and (max-width: 600px) {
    html {
        font-size: 60%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav-logo {
        display: none;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 40%;
        height: 23px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 10px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 25px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 60%;
        font-size: 0.9rem;
    }

    .panel-electronics {
        font-size: 1.3rem;
        font-weight: 400;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        background-size: cover;
        height: 230px;
    }


    .hero-msg {
        height: 20px;
        width: 90%;
        font-size: 0.9rem;
        margin-top: 180px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 0.9rem;
        height: 13px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 150px;
        width: 96%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 1.2rem;
        padding: 0px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 18px;
    }

    .foot-panel1 a {
        font-size: 1.5rem;
    }

    .foot-panel2 {
        height: 180px;
    }

    .foot-panel2 ul {
        margin-top: 10px;
    }

    .foot-panel2 ul p {
        font-size: 1.1rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 0.8rem;
        margin-top: 10px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 30px;
        padding-top: 10px;
    }

    .foot-logo {
        height: 30px;
        width: 80px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1.3rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.8rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.3rem;
        border-radius: 10px;
    }

    .country img {
        width: 15px;
        height: 12px;
        padding-right: 3px;
    }

    .copy-right {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }
}


@media(min-width: 600px) and (max-width: 768px) {
    html {
        font-size: 70%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav-logo {
        display: none;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 40%;
        height: 30px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 10px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 25px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 60%;
        font-size: 0.9rem;
    }

    .panel-electronics {
        font-size: 1.2rem;
        font-weight: 400;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        background-size: cover;
        height: 280px;
    }


    .hero-msg {
        height: 30px;
        width: 90%;
        font-size: 1rem;
        margin-top: 210px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 0.9rem;
        height: 13px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 150px;
        width: 96%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 1.2rem;
        padding: 0px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 25px;
    }

    .foot-panel1 a {
        font-size: 1.3rem;
    }

    .foot-panel2 {
        height: 200px;
    }

    .foot-panel2 ul {
        margin-top: 10px;
    }

    .foot-panel2 ul p {
        font-size: 1.1rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 0.8rem;
        margin-top: 10px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 30px;
        padding-top: 10px;
    }

    .foot-logo {
        height: 30px;
        width: 80px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1.3rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.5rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.3rem;
        border-radius: 10px;
    }

    .country img {
        width: 15px;
        height: 12px;
        padding-right: 3px;
    }

    .copy-right {
        padding-bottom: 10px;
    }
}




@media(min-width: 768px) and (max-width: 900px) {
    html {
        font-size: 90%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav-logo {
        display: none;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 40%;
        height: 40px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 25px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 30px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 60%;
        font-size: 0.9rem;
    }

    .panel-electronics {
        font-size: 1.2rem;
        font-weight: 400;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        height: 350px;
        width: 100%;
    }


    .hero-msg {
        height: 35px;
        width: 90%;
        font-size: 1rem;
        margin-top: 260px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 0.9rem;
        height: 20px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 190px;
        width: 96%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 1.3rem;
        padding: 0px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 30px;
    }

    .foot-panel1 a {
        font-size: 1.5rem;
    }

    .foot-panel2 {
        height: 280px;
    }

    .foot-panel2 ul {
        margin-top: 15px;
    }

    .foot-panel2 ul p {
        font-size: 1.2rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 0.8rem;
        margin-top: 14px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 80px;
    }

    .foot-logo {
        height: 40px;
        width: 100px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.5rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.2rem;
        border-radius: 10px;
        padding: 7px 30px;
    }

    .country img {
        width: 20px;
        height: 15px;
        padding-right: 3px;
    }

    .copy-right {
        padding-bottom: 10px;
    }

}

@media(min-width: 900px) and (max-width: 1024px) {
    html {
        font-size: 90%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav-logo {
        width: 130px;
        height: 50px;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 35%;
        height: 40px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 25px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 45px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 65%;
        font-size: 1.1rem;
    }

    .panel-electronics {
        font-size: 1.2rem;
        font-weight: 400;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        height: 350px;
        width: 100%;
    }


    .hero-msg {
        height: 40px;
        width: 90%;
        font-size: 1.2rem;
        margin-top: 270px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 1.2rem;
        height: 40px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 250px;
        width: 96%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 1.3rem;
        padding: 0px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 40px;
    }

    .foot-panel1 a {
        font-size: 1.5rem;
    }

    .foot-panel2 {
        height: 300px;
    }

    .foot-panel2 ul {
        margin-top: 15px;
    }

    .foot-panel2 ul p {
        font-size: 1.4rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 1rem;
        margin-top: 14px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 80px;
    }

    .foot-logo {
        height: 50px;
        width: 130px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1.4rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.8rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.4rem;
        border-radius: 10px;
        padding: 7px 30px;
    }

    .country img {
        width: 30px;
        height: 20px;
        padding-right: 3px;
    }

    .copy-right {
        padding-bottom: 10px;
        font-size: 1.2rem;
    }
}


@media(min-width: 1024px) and (max-width: 1240px) {
    html {
        font-size: 95%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav-logo {
        width: 130px;
        height: 50px;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 45%;
        height: 45px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 25px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 45px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 65%;
        font-size: 1.1rem;
    }

    .panel-electronics {
        font-size: 1.8rem;
        font-weight: 500;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        height: 450px;
        width: 100%;
    }


    .hero-msg {
        height: 50px;
        width: 90%;
        font-size: 1.4rem;
        margin-top: 350px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 1.5rem;
        height: 60px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 300px;
        width: 96%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 1.5rem;
        padding: 0px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 40px;
    }

    .foot-panel1 a {
        font-size: 1.5rem;
    }

    .foot-panel2 {
        height: 300px;
    }

    .foot-panel2 ul {
        margin-top: 15px;
    }

    .foot-panel2 ul p {
        font-size: 1.4rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 1rem;
        margin-top: 14px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 80px;
    }

    .foot-logo {
        height: 50px;
        width: 130px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1.4rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.8rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.4rem;
        border-radius: 10px;
        padding: 7px 30px;
    }

    .country img {
        width: 30px;
        height: 20px;
        padding-right: 3px;
    }

    .copy-right {
        padding-bottom: 10px;
        font-size: 1.2rem;
    }
}

@media(min-width: 1200px) and (max-width: 1500px) {
    html {
        font-size: 90%;
        margin: 0 auto;
    }

    /* ----NavBar---- */

    .navbar {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }


    .add-first {
        font-size: 0.9rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .nav-search {
        width: 40%;
        height: 40px;
    }

    .sign-mag1 {
        font-size: 0.9rem;
    }

    .sign-msg2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .return-msg {
        font-size: 0.9rem;
    }

    .order-msg {
        font-size: 1.5rem;
        font-weight: 300;
    }


    .nav-cart i {
        font-size: 25px;
    }

    .nav-cart {
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 10px;
    }


    /* ----Panel---- */

    .panel {
        height: 30px;
    }

    .panel-all {
        font-size: 1.8rem;
    }

    .panel-option p {
        display: inline;
        margin-left: 5px;
    }

    .panel-option {
        width: 60%;
        font-size: 0.9rem;
    }

    .panel-electronics {
        font-size: 1.2rem;
        font-weight: 400;
        padding-right: 3px;
    }


    /* ------Hero Section --------- */


    .hero-section {
        height: 350px;
        width: 100%;
    }


    .hero-msg {
        height: 50px;
        width: 90%;
        font-size: 1.3rem;
        margin-top: 260px;
    }


    /* ---------Shop section ------- */




    .shop-section h2 {
        font-size: 1.5rem;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .box {
        height: 400px;
        width: 96%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .box-img {
        height: 80%;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .shop-section a {
        font-size: 2rem;
        padding: 0px;
        margin-top: 10px;
    }


    /* --------Footer Section --------- */


    footer {
        margin-top: 10px;
    }

    .foot-panel1 {
        height: 30px;
    }

    .foot-panel1 a {
        font-size: 1.5rem;
    }

    .foot-panel2 {
        height: 280px;
    }

    .foot-panel2 ul {
        margin-top: 15px;
    }

    .foot-panel2 ul p {
        font-size: 1.2rem;
        color: #fff;
    }

    .foot-panel2 ul a {
        font-size: 0.8rem;
        margin-top: 14px;
        color: rgb(201, 200, 200);
    }

    .foot-panel3 {
        height: 80px;
    }

    .foot-logo {
        height: 40px;
        width: 100px;
        border-radius: 10px;
    }

    .foot-logo img {
        background-size: cover;
    }

    .language {
        font-size: 1rem;
        border-radius: 10px;
    }

    .language i {
        font-size: 1.5rem;
        padding-right: 3px;
    }

    .country {
        font-size: 1.2rem;
        border-radius: 10px;
        padding: 7px 30px;
    }

    .country img {
        width: 20px;
        height: 15px;
        padding-right: 3px;
    }

    .copy-right {
        padding-bottom: 10px;
    }
}